h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

p{
    font-size: x-large;
}

body {
    background-color: #008080;
}

img.mussel1 {
    max-height: 15%;
    max-width: 15%;
}

img.mussel2 {
    max-height: 15%;
    max-width: 30%;
}

img.mussel3 {
    max-height: 10%;
    max-width: 15%;
}

img.hyacinth1 {
    max-height: 30%;
    max-width: 30%;
}

img.hyacinth2 {
    max-height: 30%;
    max-width: 30%;
}

img.hydrilla1 {
    max-height: 30%;
    max-width: 30%;
}

img.hydrilla2 {
    max-height: 20%;
    max-width: 20%;
}

hr {
    height: 2px;
    background-color: black;
}