h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
}

p{
    font-size: large;
    text-align: left;  
}

body {
    background-color: #008080;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    background-color: #C0C0C0;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;   
}

header li {
    margin: 20px;
}

a {
    color: #7a0606;
}

  a:visited {
    color: #636;
 }

  a:hover, a:active, a:focus {
    color:rgb(193, 245, 6);
}

img.mussel1 {
    max-height: 15%;
    max-width: 15%;
}

img.mussel2 {
    max-height: 15%;
    max-width: 30%;
}

img.mussel3 {
    max-height: 10%;
    max-width: 15%;
}

img.hyacinth1 {
    max-height: 30%;
    max-width: 30%;
}

img.hyacinth2 {
    max-height: 20%;
    max-width: 26%;
}

img.hydrilla1 {
    max-height: 30%;
    max-width: 30%;
}

img.hydrilla2 {
    max-height: 20%;
    max-width: 21%;
}

.carousel-inner > .item > img {
    width:900px;
    height:500px;
  }

div > h2  {
    text-align: center;
    color: #b30606;
}

.centered {
    text-align: center;
}

hr {
    height: 2px;
    background-color: black;
}


footer {
    text-align: center;
}

